//============================login.scss file===============================
//login-section
.rubik-midium {
    font-family: $rubik-midium;
}
.raleway-semibold {
    font-family: $Raleway-SemiBold;
}

.login-section {


    .lang-icon {
        transform: translate(119%, -17%);
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        left:100%;

        ul {
            max-height: 257px;
            min-width: 270px;
            overflow: auto;
            z-index: 1000;
        }
    }

    //register-link dropdowns
    .register-menu {
        width: 300px;
    }

    .register-menu.show {
        right: -14% !important;
        top: -13% !important;
        left: auto !important;
        bottom: auto !important;
    }

    .register-menu::after {
        content: " ";
        border: 12px solid transparent;
        position: absolute;
        right: 3%;
        top: -11px;
        bottom: 100%;
        height: 20px;
        width: 20px;
        display: block;
        border: 1px solid $dark-border-color;
        border-bottom: transparent;
        border-top-left-radius: 6px;
        border-left: transparent;
        border-top-right-radius: 7px;
        border-bottom-left-radius: 56px;
        transform: rotate(314deg);
        background: white;
    }

    //password-menu
    .password-menu {
        width: 270px;
    }

    .password-menu::after {
        content: "  ";
        position: absolute;
        right: 2%;
        bottom: 89%;
        height: 20px;
        width: 20px;
        display: block;
        border: 1px solid $dark-border-color;
        border-bottom: transparent;
        border-top-left-radius: 6px;
        border-left: transparent;
        border-top-right-radius: 7px;
        border-bottom-left-radius: 56px;
        transform: rotate(314deg);
        background: white;
    }

    .password-menu.show {
        right: -11px !important;
        top: 33px !important;
        left: auto !important;
        bottom: auto !important;
    }


}

.login-form {
    max-width: 500px;
}

// custom placeholder
.email-input::placeholder {
    font-size: 18px;
    color: $gray-200-color;
}

.email-section {
    z-index: 1;
}

.email-group {
    z-index: -1;
}

.password-id-input {
    z-index: 0 !important;
}

.password-input::placeholder {
    color: $white-color;
}

.password-id-input::placeholder {
    color: $success-color;
}

.password-input-button,
.password-id-input {
    padding: 20px 15px;
}

label {
    letter-spacing: 0.13px;
}

// focus control input
.focus-control:focus,
.form-check-input:focus,
.btn:focus {
    border-color: $primary-color !important;
    box-shadow: none;
}

.password-id-input:focus {
    box-shadow: none;
}

.primary-border {
    border-color: $primary-color !important;
}

.background-primary {
    background-color: $primary-color !important;
}

.horizontal-line {
    width: 200px;
    height: 1px;
}

.form-check-input {
    width: 21px;
    height: 21px;
}

.btn {
    font-size: 14px;
}

.lang-icon {

    /* scrollbar */
    ::-webkit-scrollbar {
        width: 7px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0px 0 4px $gray-700-color;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $gray-700-color;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $gray-800-color;
    }

    // language icon dropdown 
    .dropdown-menu::after {
        content: "  ";
        border: 12px solid transparent;
        position: absolute;
        right: 96%;
        top: 4%;
        height: 20px;
        width: 20px;
        display: block;
        border: 1px solid $dark-border-color;
        border-bottom: transparent;
        border-top-left-radius: 6px;
        border-left: transparent;
        border-top-right-radius: 7px;
        border-bottom-left-radius: 56px;
        transform: rotate(225deg);
        background: white;
    }

    .dropdown-menu {
        top: -42% !important;
    }
}

li:hover {
    opacity: 100% !important;
    cursor: pointer;
}
//============================End login.html page=======================

//============================ Start login-as.html page==================
// login-as section 
.login-as-section {
   .bottom-card-line{
       height: 3px;
   }
    .vertical-line{
        width: 1px;
        // height: 804px;
        border: solid 1px $blue-300-color;
    }
    // right-side cards
    .login-card-right{
        // border-bottom: 3px solid $purple-400-color;
        max-width: 404px;

        .card-id-image{
            width:81px;
            height:81px;
            border: 6px solid $blue-100-color;
        }
    }
    // left-side cards
    .login-card-left{
    //    border-bottom: 3px solid $purple-400-color;
        // top: 10%;
        max-width: 404px;
        .card-id-image{
            width:122px;
            height:122px;
            border: 9px solid $blue-100-color;
        }
        .card-body{
            margin-top:-54px;
        }
    }
}
//============================ End login-as.html page====================

//=========================MEDIA QUERY=================================
@media (max-width:576px) {
    .lang-icon {
        transform: translate(75%, -17%) !important;
    }
}

@media (max-width:1100px)  {
    .lang-icon {
        .dropdown-menu::after {
            z-index: -1;
            left: 97%;
            transform: rotate(45deg);
        }
    }
}

@media (min-width:500px)  {
    .login-section {
        background-image: url(../images/background-image.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .top-padding {
        padding-top: 140px;
        padding-bottom: 140px;
    }

    .login-form {
        border-radius: 0.25rem !important;
    }
}

@media (max-width:680px) {
    .lang-icon {
        transform: translate(119%, -17%);
        border-bottom-right-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
        right: 0% !important;
        left: auto !important;
    }
}
// media query for login-as.html page
@media (min-width: 992px){
    .login-card-left{
        width: 247px;
    }
}