//login.scss file
//login-section
.rubik-midium {
    font-family: $rubik-midium;
}

// background image
.login-section {
    background-image: url(../images/background-image.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;

    // end background image
    .top-padding {
        padding-top: 140px;
        padding-bottom: 140px;
    }

    .lang-icon {
        transform: translate(119%, -17%);
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;

        ul {
            // transform: translate3d(50px, 0px, 0px) !important;
            max-height: 257px;
            min-width: 270px;
            overflow: auto;
            z-index: 1000;
        }
    }

    .login-form {
        max-width: 500px;
    }

    // custom placeholder
    .email-input::placeholder {
        font-size: 18px;
        color: $gray-200-color;
    }

    .email-section {
        z-index: 1;
    }

    .email-group {
        z-index: -1;
    }

    .password-id-input {
        z-index: 0 !important;
    }

    .password-input::placeholder {
        color: $white-color;
    }

    .password-id-input::placeholder {
        color: $success-color;
    }

    .password-input,
    .password-id-input {
        padding: 20px 15px;
    }

    label {
        letter-spacing: 0.13px;
    }

    // focus control input
    .focus-control:focus,
    .form-check-input:focus,
    .btn:focus {
        border-color: $primary-color !important;
        box-shadow: none;
    }

    .password-id-input:focus {
        box-shadow: none;
    }

    .primary-border {
        border-color: $primary-color !important;
    }

    .background-primary {
        background-color: $primary-color !important;
    }

    .horizontal-line {
        width: 200px;
        height: 1px;
    }

    .form-check-input {
        width: 21px;
        height: 21px;
    }

    .btn {
        font-size: 14px;
    }

    .lang-icon {

        /* scrollbar */
        ::-webkit-scrollbar {
            width: 7px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0px 0 4px $gray-700-color;
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: $gray-700-color;
            border-radius: 10px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: $gray-800-color;
        }

        .dropdown-menu::after {
            content: "  ";
            border: 12px solid transparent;
            position: absolute;
            right: 99%;
            width: 0px;
            height: 0px;
            top: 4%;
            border-right-color: $white-color;
            border-left-color: transparent;
        }

        .dropdown-menu {
            transform: translate3d(28px, -16px, 0px);
        }

        .list-able:hover {
            opacity: 100% !important;
            cursor: pointer;
        }
    }
}

// MEDIA QUERY
@include max-sm {
    .lang-icon {
        transform: translate(75%, -17%) !important;
    }
}

@include max-xl {
    .lang-icon {
        .dropdown-menu::after {
            z-index: -1;
            left: 99%;
            border-left-color: $white-color !important;
            border-right-color: transparent !important;
        }
    }
}