// scss-docs-start theme-colors-map
$theme-colors: ("primary": #307fc1,
    "secondary": #282828,
    "success": #00a17d,
    "green-500": #01ae8f,
    "info": #0dcaf0,
    "warning": #ffc107,
    "yellow-500": #d97900,
    "blue-100": #eef0f4,
    "blue-200": #5d6870,
    "blue-300": #dfe1e5,
    "blue-400": #e8e8ec,
    "blue-500": #9b9fa7,
    "blue-600":  #848992,
    "blue-700":  #bad3e9,
    "blue-800":  #534e52,
    "blue-900":  #a5a5a5,
    "danger": #dc3545,
    "red-400": #d0021b,
    "red-500": #f82a19,
    "red-600": #bbbbbb,
    "purple-400":#7979bf,
    "light": #f7f8fa,
    "gray-100": #333333,
    "gray-200": #b4b4b4,
    "gray-300": #d0d9e2,
    "gray-400": #777,
    "gray-500": #d2d2d9,
    "gray-600":  #aeaeae,
    "gray-700":  #d8d8d8,
    "gray-800":  #b1b1b1,
    "gray-900": #efeff1,
    "dark": #000);
// scss-docs-end theme-colors-map
 
// BASE FONT FAMILY
$font-family-base:Rubik;
//START FONT FAMILY 
@font-face {
    font-family:"Rubik";
    src: url(../font-family/static/Rubik-Regular.ttf);
}

@font-face {
    font-family: "Rubik-Medium";
    src: url(../font-family/static/Rubik-Medium.ttf);
}
// font-family Raleway-semibold
@font-face {
    font-family: "Raleway-SemiBold";
    src: url(../font-family/Raleway/static/Raleway-SemiBold.ttf);
}
// END FONT FAMILY




// IMPORTING FILES 
@import "../node_modules/bootstrap/scss/bootstrap";     //(importing  bootstrap file)

@import "variables";                 //(importing  variables.scss file)

@import "login";                 //(importing login.scss file)
